body, div, h1, ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-family: sans-serif;
  font-style: arial rounded mt bold;
}



canvas {
  display: block;
  margin: 0 auto;
  position: relative;
  /*left: 25%;*/

}

body {
  position: absolute;
  background: #000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}


.modal-background {
  background: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  position: absolute;
  text-align: center;
}

.modal-window {
  background: #fff;
  z-index: 1;
  position: absolute;
  top: 100px;
  width: 400px;
  height: 500px;
  left: calc(50% - 200px);
  border-radius: 5px;
}

.modal-window > h1 {
  text-align: center;
  padding-top: 40px;
}

.modal-window > p {
  text-align: center;
  padding: 30px 20px;
  font-size: 18px;
}

.modal-background-game-over {
  background: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  position: absolute;
  text-align: center;
}

.modal-window-game-over {
  background: #fff;
  z-index: 1;
  position: absolute;
  top: 100px;
  width: 400px;
  height: 500px;
  left: calc(50% - 200px);
  border-radius: 5px;
}

.modal-window-game-over > h1 {
  text-align: center;
  padding-top: 40px;

}

.modal-window-game-over > p {
  text-align: center;
  padding: 30px 20px;
  font-size: 18px;
}

.disappear {
  display: none;
}
